<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.paulsoft.service">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name="com.paulsoft.pelican.ranking.widget.PelicanTableRankWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/pelican_table_rank_widget_info" />
        </receiver>
        <receiver
            android:name="com.paulsoft.pelican.ranking.service.PelicanRankJobAfterBootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.paulsoft.pelican.ranking.service.PelicanRankDataFetcherService"
            android:enabled="true"
            android:exported="true"
            android:label="Pelican Rank - Fetching service" />
        <service
            android:name="com.paulsoft.pelican.ranking.service.PelicanRankJobService"
            android:enabled="true"
            android:label="Pelican Rank - Job service"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name="com.paulsoft.pelican.ranking.activity.PelicanRankMainActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="https" />
                <data android:scheme="http" />
                <data android:host="service.paulsoft.com" />

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="default-url"
                android:value="https://service.paulsoft.com" />
        </activity>
    </application>

</manifest>